<%= render 'home/header' %>
<div class="jumbotron">
	<h1>Welcome to my site</h1>
	<p>Somwhere it will blows sb mind</p>
	<%= link_to 'About Page' , home_about_path, class: 'btn btn-success' %>
</div>
